* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

li, a {
  list-style: none;
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border-bottom: 1px solid #ccc;
  background-color: rgb(245, 255, 255);
}

#logo {
  display: inline-block;
  height: 50px;
  width: 50px;
  flex-grow: 1;
}

.nav {
  flex-grow: 2;
}

.container {
  background-color: bisque;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.5), url("/resources/images/wim-van-t-einde-artistic_trumpet-unsplash.jpg"));
}
