* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

li, a {
  list-style: none;
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border-bottom: 1px solid #ccc;
}

#logo {
  display: inline-block;
  height: 50px;
  width: 50px;
  flex-grow: 1;
}

.nav {
  flex-grow: 2;
}
