
/* page styles */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  color: seashell
}

li, a {
  list-style: none;
  text-decoration: none;
  color: black;
}

.btn {
  padding: 0.5rem;
  border-radius: 10px;
  border: 3px solid #34727f;
}

/* Header (logo, navbar) */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border-bottom: 1px solid #ccc;
  background-color: inherit;
}

#logo {
  display: inline-block;
  height: 50px;
  width: 50px;
  flex-grow: 1;
}

.navbar {
  flex-grow: 2;
  text-align: right;
  margin-right: 8px;
}

.navbar a {
  color: seashell;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.navbar a:hover, .navbar a:focus {
  color: white;
  text-decoration: underline;
}

/* Jumbotron */
.container {
  background-color: bisque;
  background-image: url(/resources/images/wim-van-t-einde-artistic_trumpet-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  color: #ccc;
  border-bottom: 4px solid #34727f;
}

.jumbotron__cta-btn {
  margin: 0 1rem;
  padding: 0.6rem 1rem;
  background-color: transparent;
}

.jumbotron__cta-btn-link {
  color: seashell;
}

.jumbotron__cta-btn:hover,.jumbotron__cta-btn:focus {
  cursor: pointer;
  backdrop-filter: blur(3px);
  transition-property: backdrop-filter;
  transition-duration: 450ms;
  transition-timing-function: ease-in-out;
}

/* Article and Info */
/* Options Section */
/* Footer */